# Base de données PostgreSQL
DATABASE_URL=postgresql://postgres:postgres123@localhost:5432/score_credit_db

# MLFlow
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_BACKEND_STORE=postgresql://postgres:postgres123@localhost:5432/mlflow_db
MLFLOW_ARTIFACT_ROOT=mlflow-artifacts:

# API
PORT=8000
